.close-catalog {
    margin: 0;
    padding: 30px 0 30px 30px;
    list-style: none;
    background-image: url("/resources/img/closed-folder.png");
    background-repeat: no-repeat;
    background-size: 30px;
}